node_modules
.DS_Store
dist
dist-ssr
*.local
.env
.env.local
.nitro
.tanstack
.wrangler
.output
.vinxi
__unconfig*
todos.json

# Supabase
supabase/.branches
supabase/.temp
.env.production.local
.env.development.local
.env.test.local
