.main {
  width: 100%;
  padding: 96px;
  min-height: 100vh;
  background: linear-gradient(to bottom right, var(--black-lighten5), var(--white), var(--yellow-lighten1));
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 32px;
}

.title {
  font-size: 30px;
  font-weight: 900;
  color: var(--black-primary);
  margin-bottom: 8px;
}
